.about {
    text-align: center;
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h1 {
    font-size: 2em;
    margin-bottom: 1em;
}

.about p {
    font-size: 1.1rem;
    margin: 1.5rem auto;
    max-width: 500px;
    line-height: 1.5;
}